
/* stylizing the navigation menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
  }
  
/*  setting the position of the menu to the left side of the page*/


  li {
    float: left;
  }

  /* changes the nav menu from a basic list to blocked button to navigate the website easier*/
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:cornflowerblue;
  }

  
 #projecttext{
  text-decoration: none;
  display: block;
  text-align: center;
  color: blueviolet;
 }
#imagesp{

align-self: 50%;


}

#git{

align-self: center;

}

td{


  text-align: center;
}
#me{
  border-radius: 50%;
  align-self: center;

}
#name{
  text-align: center;
}
